*.o
compile/version
compile/.defs
compile/.vers_num
config/conf.c
config/conf.h
compile/xinu
compile/xinu.bin
compile/xinu.elf
compile/xinu.map
system/conf.c
system/conf.h
config/lex.yy.c
config/y.tab.c

